In [2]:
var = 5   # comando de atribuição (atribuindo o valor 5 à variável "var")
print(var)  # comando de impressão (para mostrar um valor na tela)

5

In [3]:
var = 134   # valor inteiro
print(var)
var = 4.2   # valor decimal
print(var)
var = "hello world"  # texto
print(var)

134
4.2
hello world

In [4]:
numero = -5
print(numero)

-5

In [1]:
nome_professora = "Carla"
print("O nome da professora é", nome_professora)

O nome da professora é Carla

In [5]:
Valor1 = 12.4
print(Valor1)
Valor2 = 56
print(Valor2)

12.4
56

In [6]:
# 3invalido = 4 - Ao fazer isso dá erro
# print(3invalido)

valido = 4
print(valido)

4

In [7]:
# nome_professora = "Carla Negri Lintzmayer"
# print(nome_profesora) // O nome da variável está diferente

nome_professora = "Carla Negri Lintzmayer"
print(nome_professora)

Carla Negri Lintzmayer

In [8]:
# sala_de_aula = "L502"
# print("A sala de aula é", Sala_de_aula) // O nome da variável está diferente

sala_de_aula = "L502"
print("A sala de aula é", sala_de_aula)

A sala de aula é L502

In [9]:
print(4 + 67)

71

In [10]:
print(9 - 4)

5

In [11]:
print(3 * 2)

6

In [12]:
# o símbolo "/" indica divisão exata
print(19 / 5)

3.8

In [13]:
# o símbolo "//" indica divisão inteira
print(19 // 5)

3

In [1]:
# o símbolo "%" indica o resto da divisão
print(1 % 60)

1

In [15]:
# o símbolo "**" indica exponenciação
print(3**2)

9

In [1]:
print(4 + 3 * 5 - 8 + 2**3 / 4) #[(4 + (3 * 5) - 8 + ((2**3) / 4)] = 13

13.0

In [3]:
ordem_padrao = 1 + 5 * 3 # 1 + (5 * 3) = 16
print(ordem_padrao)

16

In [4]:
minha_ordem = (1 + 5) * 3
print(minha_ordem)

18

<font size="4">
<h4>Faça você mesmo!</h4>

<p>Coloque parênteses abaixo de modo que a resposta seja `600`</p>

<p>*Dica:* Tente fazer com que `2**3-1+2` seja `6` e depois seja multiplicado por `100`.</p>
</font>

In [5]:
expressao = ((2 ** (3 - 1)) + 2) * 100
print(expressao)

600

<font size="4">
<h4>Faça você mesmo!</h4>

<p> João faz 10 anos de idade hoje, neste exato momento!</p>
<p>Na célula abaixo, calcule quantos segundos de vida ele acabou de comemorar.</p>
    
<p>Suponha que um ano sempre tem 365 dias, ou seja, ignore os anos bissextos.</p>
</font>

In [6]:
expressao = ((((60 * 60) * 24) * 365) * 10)
print(expressao,"seg")

315360000 seg

<font size=4><h3>Pontos flutuantes</h3>
    
<p>Números de ponto flutuante se referem a números com casas decimais e em geral eles vão se comportar como tais.</p>

</font>

In [7]:
print(0.1 + 0.1)
print(0.366 + 0.23)

0.2
0.596

In [8]:
print(0.54 * 4)
print(0.544 * 0.47)

2.16
0.25568

<font size=4><p>Porém pode ser que às vezes o resultado não saia como esperado:</p>

In [9]:
print(0.1 + 0.2)

0.30000000000000004

<font size="4"><hr>
<h2>Strings</h2>

<p>Conjuntos de caracteres em linguagens de programação são chamados de "strings".</p>
    
<p>Strings em Python são qualquer conjunto de caracteres que estejam dentro de aspas.</p>
</font>

In [10]:
uma_string = "essa é uma string válida"
print(uma_string)
outra_string = "Essa também, mesmo contendo números (3 5 4) e símbolos (* $ & @ %)"
print(outra_string)

essa é uma string válida
Essa também, mesmo contendo números (3 5 4) e símbolos (* $ & @ %)

<font size=4><p>O operador `+` funciona em strings como um concatenador: ele une em uma só as strings que estiverem ao seu redor.</p></font>

In [11]:
nome = "Carla"
sobrenome1 = "Negri"
sobrenome2 = "Lintzmayer"
print(nome + sobrenome1 + sobrenome2)
print(nome + " " + sobrenome1 + " " + sobrenome2)

CarlaNegriLintzmayer
Carla Negri Lintzmayer

In [12]:
x = 3
f = 2 * x + 4
print(f)

10

In [13]:
x = 7
print(x)
x = x + 4
print(x)

7
11

In [14]:
resultado = 8
expressao = resultado**2 + 4

print(expressao)

68

In [15]:
C = 55
# a expressão a seguir converte uma temperatura de Celsius para Fahrenheit
F = C * 9/5 + 32
print(F)

C = 100
# a expressão a seguir converte uma temperatura de Celsius para Fahrenheit
F = C * 9/5 + 32
print(F)

C = 100
# a expressão a seguir converte uma temperatura de Celsius para temperatura absoluta(K)
TK = C + 273
print(TK)

TK = 373
# a expressão a seguir converte uma temperatura de Kelvin para temperatura Celsius(°C)
C = TK - 273
print(C)

C = 100
# Para converter de Fahrenheit para Kelvin, primeiro converte de Fahrenheit para Celsius 
# e depois soma Celsius com 273.
# a expressão a seguir converte uma temperatura de fahrenheit para Celsius
F = C * 9/5 + 32
C = 5 * (F - 32) / 9 # (5 * (F - 32) / 9) = T(C) + 273.15 = T(K)
print(F)

131.0
212.0
373
100
212.0

<hr><font size="4"><h4>Faça você mesmo!</h4>
<p>Preencha a célula abaixo com os dados que você quiser para calcular a área de um trapézio cuja base menor é $b$, a base maior é $B$ e a altura é $h$.</p>
    
<p>Preencha também a fórmula para a área, que é dada por $$\frac{(b+B)\cdot h}{2}$$</p>

<p>Não se esqueça de colocar todos os operadores (por exemplo o `*`).</p>
</font>

In [16]:
b = 6
B = 9
h = 4
area = ((B + b) * h) / 2 
print(area)

30.0

<font size=4><h3>Outro exemplo</h3>

<p>No futuro, será útil fazer troca de valores entre variáveis.</p>
    
<p>Por exemplo, se temos as variáveis `x` com valor `4` e `y` com valor `-9`, vamos querer realizar uma troca de forma que `x` fique com o valor `-9` e `y` fique com o valor `4`.</p>

<p>Se fizermos `x = y`, então estaremos atribuindo o valor `-9` a `x` e a primeira parte do problema está resolvida:</p>

</font>

In [17]:
x = 4
y = -9
print("O valor de x é", x, "e o valor de y é", y)
x = y
print("O valor de x é", x, "e o valor de y é", y)

O valor de x é 4 e o valor de y é -9
O valor de x é -9 e o valor de y é -9

<font size=4><p>Mas agora o valor anterior de `x` o (`4`) se perdeu!</p>

<p>Precisamos então de uma variável auxiliar, que guarde o valor anterior de `x` enquanto ele é atualizado para o novo valor.</p></font>

In [19]:
x = 4
y = -9
print("O valor de x é", x, "e o valor de y é", y)

# salve na variável "aux" o valor atual de x:
aux = x # aux é igual a 4
# agora atualize o valor de x:
x = y # x é igual a -9
# o valor de y recebe o antigo valor de x, que está salvo em "aux":
y = aux # y é igual a 4
print("O valor de x é", x, "e o valor de y é", y)

O valor de x é 4 e o valor de y é -9
O valor de x é -9 e o valor de y é 4

In [20]:
C = 55
d = 12
F = C * 9 / 5 + 32
g = d * 9 / 5 + 32
print(F,g)
print(F," ",g)
print(F+g) # O resultado será 184.6

131.0 53.6
131.0   53.6
184.6

In [21]:
C = 55
F = C * 9 / 5 + 32
print(C, "graus Celcius equivale a", F, "Fahrenheit")

55 graus Celcius equivale a 131.0 Fahrenheit

In [22]:
nome = input("Qual é  seu nome? ")
print("Olá,", nome)

sorvete = input("Qual o sabor do sorvete? ")
print("Sabor " + sorvete+ " saindo")

Qual é  seu nome? Luis
Olá, Luis
Qual o sabor do sorvete? morango
Sabor morango saindo

In [23]:
idade = input("Qual é a sua idade? ")
dobro = idade + idade
print("O dobro da sua idade é", dobro)

Qual é a sua idade? 42
O dobro da sua idade é 4242

In [24]:
idade_texto = input("Qual é a sua idade? ")
idade = int(idade_texto)
dobro = idade + idade
print("O dobro da sua idade é", dobro)

Qual é a sua idade? 42
O dobro da sua idade é 84

In [26]:
temp_texto = input("Qual é a temperatura atual? ")
temp = float(temp_texto)
dobro = temp + temp
print("O dobro da temperatura atual é", dobro)

Qual é a temperatura atual? 24.5
O dobro da temperatura atual é 49.0

In [27]:
preco = float(input("Qual é o preço do produto? "))

parcelas = int(input("Em quantas parcelas você deseja pagar? "))

valor_parc = preco / parcelas

print("O valor de cada parcela será: ",valor_parc)

Qual é o preço do produto? 1500
Em quantas parcelas você deseja pagar? 7
O valor de cada parcela será:  214.28571428571428

In [33]:
lista_escola = {'primeiro','segundo','terceiro'} # Está desordenado porque a ordem foi trocada no comando abaixo
list_One = {'um','dois','três'}

print (lista_escola)
print (list_One)

{'segundo', 'terceiro', 'primeiro'}
{'um', 'dois', 'três'}

In [34]:
aula_bases = ["terça-feira", 8, "L502", "Carla"]
print(aula_bases)

['terça-feira', 8, 'L502', 'Carla']

In [35]:
lista_escola = "primeiro", "segundo", "terceiro"

print(lista_escola)
print()
print(lista_escola[2])
print(lista_escola[0])
print(lista_escola[1])
print()
print(lista_escola[2], lista_escola[0], lista_escola[1])

('primeiro', 'segundo', 'terceiro')

terceiro
primeiro
segundo

terceiro primeiro segundo

In [36]:
aula_bases = ["terça-feira", 8, "L502", "Carla"]
print("A aula de bases computacionais acontece toda", aula_bases[0], "na sala", aula_bases[2])

A aula de bases computacionais acontece toda terça-feira na sala L502

In [37]:
primeiros_10 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(primeiros_10)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [38]:
x = 1
y = 16
primeiros_15 = list(range(x,y+1))
print(primeiros_15)
print() #Para pular uma linha
primeiros_30 = list(range(1,30))
print(primeiros_30)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29]

In [39]:
lista = list(range(6,17))
print(lista)

[6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]

In [40]:
lista = list(range(8))
print(lista)

[0, 1, 2, 3, 4, 5, 6, 7]

In [1]:
lista = list(range(6,17,2))
print(lista)
lista = list(range(1,100,2))
print(lista)

[6, 8, 10, 12, 14, 16]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]